<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_d5fHYOCpEeecK9FEBQGIOw" specification="interface:&#xA;// Define events and&#xA;in event TapeIn&#xA;in event Operate&#xA;in event Play&#xA;in event FastForward&#xA;in event Rewind&#xA;in event Pause&#xA;in event StopEject&#xA;// and variables here. &#xA;//Use CTRL + Space for content assist.&#xA;" name="default">
    <regions xmi:id="_d6YfQ-CpEeecK9FEBQGIOw" name="Videorekorder">
      <vertices xsi:type="sgraph:Entry" xmi:id="_d7IGJuCpEeecK9FEBQGIOw">
        <outgoingTransitions xmi:id="_KE40IOCsEeecK9FEBQGIOw" specification="" target="_RkUPkOCrEeecK9FEBQGIOw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_d7IGMuCpEeecK9FEBQGIOw" specification="" name="OffWithTape"/>
      <vertices xsi:type="sgraph:State" xmi:id="_D5yOsOCqEeecK9FEBQGIOw" name="Paused" incomingTransitions="_wJZbIOCuEeecK9FEBQGIOw _2BfP4OCuEeecK9FEBQGIOw _6xbw0OCuEeecK9FEBQGIOw">
        <outgoingTransitions xmi:id="_DjgDYOCvEeecK9FEBQGIOw" specification="Play" target="_I1xnkOCqEeecK9FEBQGIOw"/>
        <outgoingTransitions xmi:id="_J6jFAOCvEeecK9FEBQGIOw" specification="FastForward" target="_qfprwOCrEeecK9FEBQGIOw"/>
        <outgoingTransitions xmi:id="_PVfDsOCvEeecK9FEBQGIOw" specification="Rewind" target="_tvCY4OCrEeecK9FEBQGIOw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_I1xnkOCqEeecK9FEBQGIOw" name="Play" incomingTransitions="_Q1Hf4OCuEeecK9FEBQGIOw _oCeXUOCuEeecK9FEBQGIOw _qtkEkOCuEeecK9FEBQGIOw _DjgDYOCvEeecK9FEBQGIOw">
        <outgoingTransitions xmi:id="_dwvo0OCuEeecK9FEBQGIOw" specification="FastForward" target="_LiNYoOCqEeecK9FEBQGIOw"/>
        <outgoingTransitions xmi:id="_jq7IQOCuEeecK9FEBQGIOw" specification="Rewind" target="_PNuBEOCqEeecK9FEBQGIOw"/>
        <outgoingTransitions xmi:id="_wJZbIOCuEeecK9FEBQGIOw" specification="Pause" target="_D5yOsOCqEeecK9FEBQGIOw"/>
        <outgoingTransitions xmi:id="_nRMZcOCwEeecK9FEBQGIOw" specification="StopEject" target="_YlkhQOCqEeecK9FEBQGIOw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LiNYoOCqEeecK9FEBQGIOw" name="FastForwardPlaying" incomingTransitions="_dwvo0OCuEeecK9FEBQGIOw">
        <outgoingTransitions xmi:id="_oCeXUOCuEeecK9FEBQGIOw" specification="Play" target="_I1xnkOCqEeecK9FEBQGIOw"/>
        <outgoingTransitions xmi:id="_6xbw0OCuEeecK9FEBQGIOw" specification="Pause" target="_D5yOsOCqEeecK9FEBQGIOw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_PNuBEOCqEeecK9FEBQGIOw" name="WindBackPlaying" incomingTransitions="_jq7IQOCuEeecK9FEBQGIOw">
        <outgoingTransitions xmi:id="_qtkEkOCuEeecK9FEBQGIOw" specification="Play" target="_I1xnkOCqEeecK9FEBQGIOw"/>
        <outgoingTransitions xmi:id="_2BfP4OCuEeecK9FEBQGIOw" specification="Pause" target="_D5yOsOCqEeecK9FEBQGIOw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_YlkhQOCqEeecK9FEBQGIOw" name="OnWithTape" incomingTransitions="_2JDiYOCsEeecK9FEBQGIOw _RdlOEOCuEeecK9FEBQGIOw _3zEs0OCvEeecK9FEBQGIOw _do0xAOCwEeecK9FEBQGIOw _nRMZcOCwEeecK9FEBQGIOw">
        <outgoingTransitions xmi:id="_Q1Hf4OCuEeecK9FEBQGIOw" specification="Play" target="_I1xnkOCqEeecK9FEBQGIOw"/>
        <outgoingTransitions xmi:id="_ah_YYOCvEeecK9FEBQGIOw" specification="Rewind" target="_tvCY4OCrEeecK9FEBQGIOw"/>
        <outgoingTransitions xmi:id="_fbxKwOCvEeecK9FEBQGIOw" specification="FastForward" target="_qfprwOCrEeecK9FEBQGIOw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_vVU2sOCqEeecK9FEBQGIOw" name="Recording"/>
      <vertices xsi:type="sgraph:State" xmi:id="_7j33MOCqEeecK9FEBQGIOw" name="AutomatedRecording"/>
      <vertices xsi:type="sgraph:State" xmi:id="_BxGOcOCrEeecK9FEBQGIOw" name="PausedRecording"/>
      <vertices xsi:type="sgraph:State" xmi:id="_EE-8oOCrEeecK9FEBQGIOw" name="PausedAutomatedRecording"/>
      <vertices xsi:type="sgraph:State" xmi:id="_N9RQYOCrEeecK9FEBQGIOw" name="OnWithoutTape" incomingTransitions="_P1HGUOCsEeecK9FEBQGIOw">
        <outgoingTransitions xmi:id="_wYGQYOCsEeecK9FEBQGIOw" specification="Operate" target="_RkUPkOCrEeecK9FEBQGIOw"/>
        <outgoingTransitions xmi:id="_RdlOEOCuEeecK9FEBQGIOw" specification="TapeIn" target="_YlkhQOCqEeecK9FEBQGIOw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_RkUPkOCrEeecK9FEBQGIOw" name="OffWithoutTape" incomingTransitions="_KE40IOCsEeecK9FEBQGIOw _wYGQYOCsEeecK9FEBQGIOw">
        <outgoingTransitions xmi:id="_P1HGUOCsEeecK9FEBQGIOw" specification="Operate" target="_N9RQYOCrEeecK9FEBQGIOw"/>
        <outgoingTransitions xmi:id="_2JDiYOCsEeecK9FEBQGIOw" specification="TapeIn" target="_YlkhQOCqEeecK9FEBQGIOw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_qfprwOCrEeecK9FEBQGIOw" name="FastForwardPaused" incomingTransitions="_J6jFAOCvEeecK9FEBQGIOw _fbxKwOCvEeecK9FEBQGIOw">
        <outgoingTransitions xmi:id="_3zEs0OCvEeecK9FEBQGIOw" specification="StopEject" target="_YlkhQOCqEeecK9FEBQGIOw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_tvCY4OCrEeecK9FEBQGIOw" name="WindBackPaused" incomingTransitions="_PVfDsOCvEeecK9FEBQGIOw _ah_YYOCvEeecK9FEBQGIOw">
        <outgoingTransitions xmi:id="_do0xAOCwEeecK9FEBQGIOw" specification="StopEject" target="_YlkhQOCqEeecK9FEBQGIOw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_d6YfQeCpEeecK9FEBQGIOw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_d5fHYOCpEeecK9FEBQGIOw" measurementUnit="Pixel">
    <children xmi:id="_d6hpMOCpEeecK9FEBQGIOw" type="Region" element="_d6YfQ-CpEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_d7IGIOCpEeecK9FEBQGIOw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_d7IGIeCpEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_d7IGIuCpEeecK9FEBQGIOw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_d7IGI-CpEeecK9FEBQGIOw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_d7IGJ-CpEeecK9FEBQGIOw" type="Entry" element="_d7IGJuCpEeecK9FEBQGIOw">
          <children xmi:id="_d7IGK-CpEeecK9FEBQGIOw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_d7IGLuCpEeecK9FEBQGIOw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_d7IGL-CpEeecK9FEBQGIOw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_d7IGMOCpEeecK9FEBQGIOw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_d7IGLOCpEeecK9FEBQGIOw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d7IGLeCpEeecK9FEBQGIOw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_d7IGKOCpEeecK9FEBQGIOw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_d7IGKeCpEeecK9FEBQGIOw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d7IGMeCpEeecK9FEBQGIOw" x="54" y="20"/>
        </children>
        <children xmi:id="_d7RQEuCpEeecK9FEBQGIOw" type="State" element="_d7IGMuCpEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_d7RQFuCpEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_d7RQF-CpEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_d7RQGOCpEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_d7RQGeCpEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_d7RQGuCpEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d7RQG-CpEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_d7RQHOCpEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_d7RQE-CpEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_d7RQFOCpEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_d7RQHeCpEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d7RQHuCpEeecK9FEBQGIOw" x="60" y="82"/>
        </children>
        <children xmi:id="_D5yOs-CqEeecK9FEBQGIOw" type="State" element="_D5yOsOCqEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_D5yOt-CqEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_D5yOuOCqEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_D5yOueCqEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_D5yOuuCqEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_D5yOu-CqEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_D5yOvOCqEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_D5yOveCqEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_D5yOtOCqEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_D5yOteCqEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_D5yOvuCqEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_D5yOtuCqEeecK9FEBQGIOw" x="759" y="89" width="131" height="106"/>
        </children>
        <children xmi:id="_I1xnk-CqEeecK9FEBQGIOw" type="State" element="_I1xnkOCqEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_I1xnl-CqEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_I1xnmOCqEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_I1xnmeCqEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_I1xnmuCqEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_I1xnm-CqEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_I1xnnOCqEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_I1xnneCqEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_I1xnlOCqEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_I1xnleCqEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_I1xnnuCqEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_I1xnluCqEeecK9FEBQGIOw" x="284" y="232" width="85" height="96"/>
        </children>
        <children xmi:id="_LiNYo-CqEeecK9FEBQGIOw" type="State" element="_LiNYoOCqEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_LiNYp-CqEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LiNYqOCqEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LiNYqeCqEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LiNYquCqEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LiNYq-CqEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LiNYrOCqEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LiNYreCqEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LiNYpOCqEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LiNYpeCqEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LiNYruCqEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LiNYpuCqEeecK9FEBQGIOw" x="434" y="532"/>
        </children>
        <children xmi:id="_PNuBE-CqEeecK9FEBQGIOw" type="State" element="_PNuBEOCqEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_PNuBF-CqEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_PNuBGOCqEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_PNuBGeCqEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_PNuBGuCqEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_PNuBG-CqEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PNuBHOCqEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_PNuBHeCqEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_PNuBFOCqEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_PNuBFeCqEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_PNuBHuCqEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PNuBFuCqEeecK9FEBQGIOw" x="54" y="338"/>
        </children>
        <children xmi:id="_YluSQuCqEeecK9FEBQGIOw" type="State" element="_YlkhQOCqEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_YluSRuCqEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YluSR-CqEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YluSSOCqEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YluSSeCqEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YluSSuCqEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YluSS-CqEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YluSTOCqEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YluSQ-CqEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YluSROCqEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YluSTeCqEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YluSReCqEeecK9FEBQGIOw" x="499" y="137"/>
        </children>
        <children xmi:id="_vVU2s-CqEeecK9FEBQGIOw" type="State" element="_vVU2sOCqEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_vVU2t-CqEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_vVU2uOCqEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_vVU2vOCqEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_vVU2ueCqEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_vVU2veCqEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vVU2vuCqEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_vVU2uuCqEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_vVU2tOCqEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_vVU2teCqEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_vVU2u-CqEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vVU2tuCqEeecK9FEBQGIOw" x="979" y="632"/>
        </children>
        <children xmi:id="_7kBoMOCqEeecK9FEBQGIOw" type="State" element="_7j33MOCqEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_7kBoNOCqEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7kBoNeCqEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_7kBoNuCqEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7kBoN-CqEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_7kBoOOCqEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7kBoOeCqEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7kBoOuCqEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7kBoMeCqEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_7kBoMuCqEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7kBoO-CqEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7kBoM-CqEeecK9FEBQGIOw" x="888" y="692"/>
        </children>
        <children xmi:id="_BxP_cuCrEeecK9FEBQGIOw" type="State" element="_BxGOcOCrEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_BxP_duCrEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_BxP_d-CrEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_BxP_eOCrEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BxP_eeCrEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_BxP_euCrEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BxP_e-CrEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BxP_fOCrEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_BxP_c-CrEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_BxP_dOCrEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BxP_feCrEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BxP_deCrEeecK9FEBQGIOw" x="779" y="637"/>
        </children>
        <children xmi:id="_EE-8o-CrEeecK9FEBQGIOw" type="State" element="_EE-8oOCrEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_EE-8p-CrEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EE-8qOCrEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EE-8qeCrEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EE-8quCrEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EE-8q-CrEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EE-8rOCrEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EE-8reCrEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EE-8pOCrEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EE-8peCrEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EE-8ruCrEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EE-8puCrEeecK9FEBQGIOw" x="609" y="697"/>
        </children>
        <children xmi:id="_N9RQY-CrEeecK9FEBQGIOw" type="State" element="_N9RQYOCrEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_N9RQZ-CrEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_N9RQaOCrEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_N9RQaeCrEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_N9RQauCrEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_N9RQa-CrEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N9RQbOCrEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_N9RQbeCrEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_N9RQZOCrEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_N9RQZeCrEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_N9RQbuCrEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N9RQZuCrEeecK9FEBQGIOw" x="204" y="142"/>
        </children>
        <children xmi:id="_RkUPk-CrEeecK9FEBQGIOw" type="State" element="_RkUPkOCrEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_RkdZgOCrEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RkdZgeCrEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_RkdZguCrEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RkdZg-CrEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_RkdZhOCrEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RkdZheCrEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RkdZhuCrEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RkUPlOCrEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_RkUPleCrEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_RkdZh-CrEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RkUPluCrEeecK9FEBQGIOw" x="214" y="4"/>
        </children>
        <children xmi:id="_qfprw-CrEeecK9FEBQGIOw" type="State" element="_qfprwOCrEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_qfprx-CrEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qfpryOCrEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qfpryeCrEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qfpryuCrEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qfpry-CrEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qfprzOCrEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qfprzeCrEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qfprxOCrEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qfprxeCrEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qfprzuCrEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qfprxuCrEeecK9FEBQGIOw" x="99" y="557"/>
        </children>
        <children xmi:id="_tvCY4-CrEeecK9FEBQGIOw" type="State" element="_tvCY4OCrEeecK9FEBQGIOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_tvCY5-CrEeecK9FEBQGIOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_tvCY6OCrEeecK9FEBQGIOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_tvCY6eCrEeecK9FEBQGIOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tvCY6uCrEeecK9FEBQGIOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_tvCY6-CrEeecK9FEBQGIOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tvCY7OCrEeecK9FEBQGIOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tvCY7eCrEeecK9FEBQGIOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_tvCY5OCrEeecK9FEBQGIOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_tvCY5eCrEeecK9FEBQGIOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tvCY7uCrEeecK9FEBQGIOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tvCY5uCrEeecK9FEBQGIOw" x="35" y="423" width="137" height="77"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d7IGJOCpEeecK9FEBQGIOw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_d6hpMeCpEeecK9FEBQGIOw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d7IGJeCpEeecK9FEBQGIOw" x="149" y="24" width="1254" height="830"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_d7bBF-CpEeecK9FEBQGIOw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_d7bBGeCpEeecK9FEBQGIOw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_d7bBGuCpEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_d7bBG-CpEeecK9FEBQGIOw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_d7bBHOCpEeecK9FEBQGIOw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d7bBHeCpEeecK9FEBQGIOw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d7bBHuCpEeecK9FEBQGIOw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_d6YfQuCpEeecK9FEBQGIOw"/>
    <edges xmi:id="_KE40IeCsEeecK9FEBQGIOw" type="Transition" element="_KE40IOCsEeecK9FEBQGIOw" source="_d7IGJ-CpEeecK9FEBQGIOw" target="_RkUPk-CrEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_KE40JeCsEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KE40JuCsEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KE40J-CsEeecK9FEBQGIOw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KE40IuCsEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KE40JOCsEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KE40I-CsEeecK9FEBQGIOw" points="[7, 1, -111, 15]$[49, 1, -69, 15]$[49, 0, -69, 14]$[93, 0, -25, 14]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KE40KOCsEeecK9FEBQGIOw" id="(0.226890756302521,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_P1HGUeCsEeecK9FEBQGIOw" type="Transition" element="_P1HGUOCsEeecK9FEBQGIOw" source="_RkUPk-CrEeecK9FEBQGIOw" target="_N9RQY-CrEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_P1HGVeCsEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_P1HGVuCsEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_P1HGV-CsEeecK9FEBQGIOw" x="41" y="-34"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_P1HGUuCsEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_P1HGVOCsEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_P1HGU-CsEeecK9FEBQGIOw" points="[3, 24, 2, -161]$[3, 161, 2, -24]"/>
    </edges>
    <edges xmi:id="_wYGQYeCsEeecK9FEBQGIOw" type="Transition" element="_wYGQYOCsEeecK9FEBQGIOw" source="_N9RQY-CrEeecK9FEBQGIOw" target="_RkUPk-CrEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_wYGQZeCsEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wYGQZuCsEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wYGQZ-CsEeecK9FEBQGIOw" x="-31" y="-39"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wYGQYuCsEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wYGQZOCsEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wYGQY-CsEeecK9FEBQGIOw" points="[35, -14, -5, 157]$[35, -151, -5, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wYGQaOCsEeecK9FEBQGIOw" id="(0.21367521367521367,0.3018867924528302)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wYGQaeCsEeecK9FEBQGIOw" id="(0.17647058823529413,0.5849056603773585)"/>
    </edges>
    <edges xmi:id="_2JMsUOCsEeecK9FEBQGIOw" type="Transition" element="_2JDiYOCsEeecK9FEBQGIOw" source="_RkUPk-CrEeecK9FEBQGIOw" target="_YluSQuCqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_2JMsVOCsEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2JMsVeCsEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2JMsVuCsEeecK9FEBQGIOw" x="24" y="12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2JMsUeCsEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2JMsU-CsEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2JMsUuCsEeecK9FEBQGIOw" points="[17, 24, -256, -109]$[17, 84, -256, -49]$[254, 84, -19, -49]$[254, 109, -19, -24]"/>
    </edges>
    <edges xmi:id="_Q1Hf4eCuEeecK9FEBQGIOw" type="Transition" element="_Q1Hf4OCuEeecK9FEBQGIOw" source="_YluSQuCqEeecK9FEBQGIOw" target="_I1xnk-CqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Q1Hf5eCuEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1Hf5uCuEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Q1Hf5-CuEeecK9FEBQGIOw" x="16" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Q1Hf4uCuEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Q1Hf5OCuEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Q1Hf4-CuEeecK9FEBQGIOw" points="[-26, 24, 108, -97]$[-26, 89, 108, -32]$[-119, 89, 15, -32]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Q1Hf6OCuEeecK9FEBQGIOw" id="(0.627906976744186,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_RdlOEeCuEeecK9FEBQGIOw" type="Transition" element="_RdlOEOCuEeecK9FEBQGIOw" source="_N9RQY-CrEeecK9FEBQGIOw" target="_YluSQuCqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Rdu_EOCuEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Rdu_EeCuEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Rdu_EuCuEeecK9FEBQGIOw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RdlOEuCuEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RdlOFOCuEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RdlOE-CuEeecK9FEBQGIOw" points="[56, -9, -261, 43]$[320, -9, 3, 43]$[320, -28, 3, 24]"/>
    </edges>
    <edges xmi:id="_dwvo0eCuEeecK9FEBQGIOw" type="Transition" element="_dwvo0OCuEeecK9FEBQGIOw" source="_I1xnk-CqEeecK9FEBQGIOw" target="_LiNYo-CqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_dwvo1eCuEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dwvo1uCuEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dwvo1-CuEeecK9FEBQGIOw" x="38" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dwvo0uCuEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dwvo1OCuEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dwvo0-CuEeecK9FEBQGIOw" points="[40, 20, -169, -244]$[175, 20, -34, -244]$[175, 255, -34, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dwvo2OCuEeecK9FEBQGIOw" id="(0.6959459459459459,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_jq7IQeCuEeecK9FEBQGIOw" type="Transition" element="_jq7IQOCuEeecK9FEBQGIOw" source="_I1xnk-CqEeecK9FEBQGIOw" target="_PNuBE-CqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_jq7IReCuEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jq7IRuCuEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jq7IR-CuEeecK9FEBQGIOw" x="-19" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jq7IQuCuEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jq7IROCuEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jq7IQ-CuEeecK9FEBQGIOw" points="[-18, 12, 194, -76]$[-150, 12, 62, -76]$[-150, 52, 62, -36]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jq7ISOCuEeecK9FEBQGIOw" id="(0.23255813953488372,0.5849056603773585)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jq7ISeCuEeecK9FEBQGIOw" id="(0.4230769230769231,0.7547169811320755)"/>
    </edges>
    <edges xmi:id="_oCeXUeCuEeecK9FEBQGIOw" type="Transition" element="_oCeXUOCuEeecK9FEBQGIOw" source="_LiNYo-CqEeecK9FEBQGIOw" target="_I1xnk-CqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_oCeXVeCuEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_oCeXVuCuEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_oCeXV-CuEeecK9FEBQGIOw" x="7" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_oCeXUuCuEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_oCeXVOCuEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_oCeXU-CuEeecK9FEBQGIOw" points="[-31, -24, 150, 255]$[-31, -274, 150, 5]$[-141, -274, 40, 5]"/>
    </edges>
    <edges xmi:id="_qtkEkeCuEeecK9FEBQGIOw" type="Transition" element="_qtkEkOCuEeecK9FEBQGIOw" source="_PNuBE-CqEeecK9FEBQGIOw" target="_I1xnk-CqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qtkEleCuEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qtkEluCuEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qtkEl-CuEeecK9FEBQGIOw" x="-8" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qtkEkuCuEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qtkElOCuEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qtkEk-CuEeecK9FEBQGIOw" points="[86, 25, -174, -3]$[230, 25, -30, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qtkEmOCuEeecK9FEBQGIOw" id="(0.3153846153846154,0.18867924528301888)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qtkEmeCuEeecK9FEBQGIOw" id="(0.813953488372093,0.2641509433962264)"/>
    </edges>
    <edges xmi:id="_wJZbIeCuEeecK9FEBQGIOw" type="Transition" element="_wJZbIOCuEeecK9FEBQGIOw" source="_I1xnk-CqEeecK9FEBQGIOw" target="_D5yOs-CqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_wJZbJeCuEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wJZbJuCuEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wJZbJ-CuEeecK9FEBQGIOw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wJZbIuCuEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wJZbJOCuEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wJZbI-CuEeecK9FEBQGIOw" points="[40, 35, -509, 142]$[516, 35, -33, 142]$[516, -87, -33, 20]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wJZbKOCuEeecK9FEBQGIOw" id="(0.9047619047619048,0.8113207547169812)"/>
    </edges>
    <edges xmi:id="_2BfP4eCuEeecK9FEBQGIOw" type="Transition" element="_2BfP4OCuEeecK9FEBQGIOw" source="_PNuBE-CqEeecK9FEBQGIOw" target="_D5yOs-CqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_2BfP5eCuEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2BfP5uCuEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2BfP5-CuEeecK9FEBQGIOw" x="-316" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2BfP4uCuEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2BfP5OCuEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2BfP4-CuEeecK9FEBQGIOw" points="[63, -2, -659, 220]$[721, -2, -1, 220]$[721, -171, -1, 51]"/>
    </edges>
    <edges xmi:id="_6xbw0eCuEeecK9FEBQGIOw" type="Transition" element="_6xbw0OCuEeecK9FEBQGIOw" source="_LiNYo-CqEeecK9FEBQGIOw" target="_D5yOs-CqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_6xbw1eCuEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6xbw1uCuEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6xbw1-CuEeecK9FEBQGIOw" x="13" y="25"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6xbw0uCuEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6xbw1OCuEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6xbw0-CuEeecK9FEBQGIOw" points="[32, -7, -200, 399]$[329, -7, 97, 399]$[329, -377, 97, 29]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6xbw2OCuEeecK9FEBQGIOw" id="(0.777027027027027,0.7358490566037735)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6xbw2eCuEeecK9FEBQGIOw" id="(0.14285714285714285,0.7169811320754716)"/>
    </edges>
    <edges xmi:id="_Djp0YOCvEeecK9FEBQGIOw" type="Transition" element="_DjgDYOCvEeecK9FEBQGIOw" source="_D5yOs-CqEeecK9FEBQGIOw" target="_I1xnk-CqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Djp0ZOCvEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Djp0ZeCvEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Djp0ZuCvEeecK9FEBQGIOw" x="18" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Djp0YeCvEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Djp0Y-CvEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Djp0YuCvEeecK9FEBQGIOw" points="[63, 3, 561, -135]$[97, 3, 595, -135]$[97, 132, 595, -6]$[-458, 132, 40, -6]"/>
    </edges>
    <edges xmi:id="_J6jFAeCvEeecK9FEBQGIOw" type="Transition" element="_J6jFAOCvEeecK9FEBQGIOw" source="_D5yOs-CqEeecK9FEBQGIOw" target="_qfprw-CrEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_J6jFBeCvEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_J6jFBuCvEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_J6jFB-CvEeecK9FEBQGIOw" x="52" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_J6jFAuCvEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_J6jFBOCvEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_J6jFA-CvEeecK9FEBQGIOw" points="[32, 51, 684, -391]$[32, 493, 684, 51]$[-618, 493, 34, 51]$[-618, 466, 34, 24]"/>
    </edges>
    <edges xmi:id="_PVo0sOCvEeecK9FEBQGIOw" type="Transition" element="_PVfDsOCvEeecK9FEBQGIOw" source="_D5yOs-CqEeecK9FEBQGIOw" target="_tvCY4-CrEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_PVo0tOCvEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PVo0teCvEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PVo0tuCvEeecK9FEBQGIOw" x="-63" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PVo0seCvEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PVo0s-CvEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PVo0suCvEeecK9FEBQGIOw" points="[5, 25, 651, -275]$[5, 268, 651, -32]$[-616, 268, 30, -32]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PVo0t-CvEeecK9FEBQGIOw" id="(0.15873015873015872,0.7547169811320755)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PVo0uOCvEeecK9FEBQGIOw" id="(0.7596899224806202,0.6981132075471698)"/>
    </edges>
    <edges xmi:id="_ah_YYeCvEeecK9FEBQGIOw" type="Transition" element="_ah_YYOCvEeecK9FEBQGIOw" source="_YluSQuCqEeecK9FEBQGIOw" target="_tvCY4-CrEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ah_YZeCvEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ah_YZuCvEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ah_YZ-CvEeecK9FEBQGIOw" x="80" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ah_YYuCvEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ah_YZOCvEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ah_YY-CvEeecK9FEBQGIOw" points="[22, 11, 431, -268]$[22, 276, 431, -3]$[-383, 276, 26, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ah_YaOCvEeecK9FEBQGIOw" id="(0.5208333333333334,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ah_YaeCvEeecK9FEBQGIOw" id="(0.7906976744186046,0.4528301886792453)"/>
    </edges>
    <edges xmi:id="_fbxKweCvEeecK9FEBQGIOw" type="Transition" element="_fbxKwOCvEeecK9FEBQGIOw" source="_YluSQuCqEeecK9FEBQGIOw" target="_qfprw-CrEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_fbxKxeCvEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fbxKxuCvEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fbxKx-CvEeecK9FEBQGIOw" x="-59" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fbxKwuCvEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fbxKxOCvEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fbxKw-CvEeecK9FEBQGIOw" points="[-6, 24, 341, -413]$[-6, 356, 341, -81]$[-323, 356, 24, -81]$[-323, 396, 24, -41]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fb67wOCvEeecK9FEBQGIOw" id="(0.6938775510204082,0.8679245283018868)"/>
    </edges>
    <edges xmi:id="_3zEs0eCvEeecK9FEBQGIOw" type="Transition" element="_3zEs0OCvEeecK9FEBQGIOw" source="_qfprw-CrEeecK9FEBQGIOw" target="_YluSQuCqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_3zEs1eCvEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3zEs1uCvEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3zEs1-CvEeecK9FEBQGIOw" x="34" y="42"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3zEs0uCvEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3zEs1OCvEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3zEs0-CvEeecK9FEBQGIOw" points="[71, 16, -303, 436]$[544, 16, 170, 436]$[544, -409, 170, 11]$[420, -409, 46, 11]"/>
    </edges>
    <edges xmi:id="_do0xAeCwEeecK9FEBQGIOw" type="Transition" element="_do0xAOCwEeecK9FEBQGIOw" source="_tvCY4-CrEeecK9FEBQGIOw" target="_YluSQuCqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_do0xBeCwEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_do0xBuCwEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_do0xB-CwEeecK9FEBQGIOw" x="-244" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_do0xAuCwEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_do0xBOCwEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_do0xA-CwEeecK9FEBQGIOw" points="[22, 15, -381, 318]$[444, 15, 41, 318]$[444, -279, 41, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_do0xCOCwEeecK9FEBQGIOw" id="(0.8294573643410853,0.6792452830188679)"/>
    </edges>
    <edges xmi:id="_nRWKcOCwEeecK9FEBQGIOw" type="Transition" element="_nRMZcOCwEeecK9FEBQGIOw" source="_I1xnk-CqEeecK9FEBQGIOw" target="_YluSQuCqEeecK9FEBQGIOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_nRWKdOCwEeecK9FEBQGIOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nRWKdeCwEeecK9FEBQGIOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nRWKduCwEeecK9FEBQGIOw" x="10" y="-7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nRWKceCwEeecK9FEBQGIOw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nRWKc-CwEeecK9FEBQGIOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nRWKcuCwEeecK9FEBQGIOw" points="[40, -24, -180, 92]$[106, -24, -114, 92]$[106, -59, -114, 57]$[223, -59, 3, 57]$[223, -92, 3, 24]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
